{
  "mnemonic": "drama film snack motion ...",
  "alchemyApiKey": "PASTE_YOUR_KEY",
  "projectId": "PASTE_YOUR_INFURA_PROJECTID",
  "privateKey": "PASTE_YOUR_PRIVATEKEY",
  "bscApiKey":  "PASTE_YOUR_BINANCE_API_KEY"
}
